<div class="files editor">
    <h1>{{machines.getSelectedName()}}</h1>

    <div class="form-group">
        <label>
            path (relative to ~)
            <input type="text"
                   class="form-control"
                   ng-model="files.selected.path"
                   placeholder=".bashrc">
        </label>
    </div>
    <textarea ui-codemirror="files.editorOptions"
              ng-model="files.fileContents"></textarea>
    <button class="btn btn-primary"
            ng-show="files.selected[file-id]"
            ng-click="files.save()">
        <i class="fa fa-save"></i>
        Save
    </button>
    <button class="btn btn-primary"
            ng-hide="files.selected[file-id]"
            ng-click="files.upload()">
        <i class="fa fa-upload"></i>
        Upload
    </button>
</div>