<div class="machines editor">
    <h1>{{machines.getSelectedName()}}</h1>
    <div class="form-group">
        <label>
            Name
            <input type="text"
                   class="form-control"
                   ng-model="machines.selected.name"
                   placeholder="My Work Laptop">
        </label>
    </div>

    <h2>Profiles</h2>
    <div class="form-group"
         ng-repeat="(profile, model) in machines.profiles">
        <label>
            {{profile}}
            <input type="checkbox"
                   class="form-control"
                   ng-model="machines.profiles[profile]">
        </label>
    </div>

    <button class="btn btn-primary"
            ng-click="machines.saveSelected()">
        <i class="fa fa-save"></i>
        Save
    </button>

</div>