body {
  padding-top: 70px;
}

header .login {
  height: 31px;
  margin-top: 10px;
  overflow: hidden;
}
header .profile button {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 47px;
}
header .profile button img {
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.home .hero {
  background: #036303;
  color: white;
  height: 300px;
  padding: 50px;
}
.home .hero h1 {
  font-family: monospace;
  font-size: 100px;
}
.home .hero p {
  font-size: 20px;
}

.files label {
  width: 100%;
}
.files label input {
  font-family: monospace;
  width: 100%;
}
